@import 'src/styles/variables.module';

.button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  font-weight: 600;
  transition: all .1s ease;
  overflow: hidden;

  &:hover {
    background-color: $accent;
  }
}

